<%= form_tag product_bids_path(@product, @bid) do%>

	<%= render 'layouts/errors', model: @product %>

	<div class="field">
		<%= label_tag :amount %>
		<%= number_field_tag :amount %>
	</div>

	<div class="field">
		<%= label_tag :user_email %>
		<%= text_field_tag :user_email %>
	</div>

<%= submit_tag "Submit" %>

<% end %>