<!DOCTYPE html>
<html>
<head>
  <title>LinkShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1> URL SHORTENER </h1>
	<%= yield %>
	<hr/>
	<%= link_to "All links", links_path, method: "get" %>
	<%= link_to "Top 10", links_top10_path, method: "get" %>
</body>
</html>
