<!DOCTYPE html>
<html style="background-color:lightgrey">

	<head>
		<title>Home</title>
	</head>

	<body>
		<% if @current_user%>
		<center>
			<h2>Welcome <%= @current_user.name %> </h1> <h5> 
			<a href='/logout'>Logout</a>
			
			<h4> Post a Shout! </h4>
			<form action="/create_shout" method="POST">
			<input type="text" name="message">
			<input type="submit" value="Shout!">
			</form>

			<% if !(Shout.all.empty?) %>
				<h2>Shout List</h2>
				<a href="/best/shouts">Best shouts</a>
				<a href="/best/users">Best users</a>
				<% Shout.all.sort_by {|shout|shout.created_at}.reverse.each do |shout| %>
					<div style="border:2px solid grey; background-color: orange;">
						<p> <%= shout.message %> </p>
						<p> By 	<a href="/user/<%=shout.user_id%>"><%=shout.user.handle%></a> </p>

						<form action="/like_shout" method="POST">
							<input type="hidden" name="id" value="<%= shout.id %>">
							<input type="submit" name="like" value="Like">
						</form>

						<p> Likes => <%= shout.likes%></p>
					</div>
					<br>
				<% end %>
			<% end %>
		</center>
		<% else %>
		<center>
			<h3>Sign Up</h3>
			<form action="/signup" method="POST">
				Name: <input type="text" name="name"><br>
				Handle:<input type="text" name="handle"><br>
				Password:<input type="password" name="password"><br>
				<input type="submit" value="Sign up">
			</form>

			<br>
			<br>

			<h3>Login</h3>
			<form action="/login" method="get">
				Handle	: <input type="text" name="handle"><br>
				Password: <input type="text" name="password"><br>
				<input type="submit" value="Login">
			</form>
		</center>
		<% end %>
	</body>
</html>