
<%= form_for(@product, :html=>{:multipart=> true})do |f| %>

	<%= render 'layouts/errors', model: @product %>

	<div class="field">
		<%= f.label :title %>
		<%=f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :deadline %>
		<%= f.datetime_field :deadline %>
	</div>

	<div class="field">
		<%= f.label :logo %>
		<%= f.file_field :logo %>
	</div>


	<%= f.submit "Submit" %>
<% end %>